{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Doccure</title>

    <!-- Favicons -->
    <link type="image/x-icon" href="{% static 'assets/img/favicon.png' %}" rel="icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}">

    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{% static 'assets/js/html5shiv.min.js' %}"></script>
    <script src="{% static 'assets/js/respond.min.js' %}"></script>
    <![endif]-->

</head>
<body class="account-page">

<!-- Main Wrapper -->
<div class="main-wrapper">

    {% include 'includes/navbar.html' %}

    {% block content %}{% endblock %}

    {% include 'includes/footer.html' %}

</div>
<!-- /Main Wrapper -->

<!-- jQuery -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>

<!-- Bootstrap Core JS -->
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

<!-- Slick JS -->
<script src="{% static 'assets/js/slick.js' %}"></script>

{% block scripts %} {% endblock %}

<!-- Custom JS -->
<script src="{% static 'assets/js/script.js' %}"></script>

</body>

</html>